:root {
  --pf-c-form__label-text--FontWeight: 600;
}

.pf-c-form-control {
  --pf-c-form-control--BorderTopColor: var(--pf-global--BorderColor--200);
  --pf-c-form-control--BorderRightColor: var(--pf-global--BorderColor--200);
  --pf-c-form-control--BorderBottomColor: var(--pf-global--BorderColor--200);
  --pf-c-form-control--BorderLeftColor: var(--pf-global--BorderColor--200);
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  color: #222;
  cursor: auto;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}

#kc-page-title {
  margin-top: 20px;
}

label {
  font-weight: 600;
}

.login-pf body {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: .1px; /* prevents default margin from shifting body away from html */
  padding-bottom: .1px;
  min-height: 100%;
  height: auto;
}

.login-pf body::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #7fa2ea66;
  left: 0;
  top: 0;
  opacity: .2;
}

.login-pf-page {
  position:relative;
  z-index: 1;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 40px 4px #111118;
  padding-top: 0;
}

@media (min-width: 520px) {
  .login-pf-page {
    margin-top: 120px;
  }
}

.login-pf-page .card-pf {
  padding-bottom: .01px;
  margin-left: 0;
  margin-right: 0;
  border-top: 0;
}

#kc-header-wrapper {
  color: #444;
  background-color: #ececec;
  border-bottom: 3px solid #27ae9d;
  padding-top: 32px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
}

  #kc-header {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

    div.kc-logo-text {
      background-image: url("https://gaze.dev/assets/uploads/Gaze.Dev.png");
      background-size: contain;
      background-position: center;
      margin: auto;
      width: 300px;
      max-width:100%;
      height: 63px;
    }

.pf-c-button.pf-m-primary {
  background-color: #00ceb1;
  background-image: linear-gradient(to bottom, #1cb8a1 0%, #19a692 100%);
}

.pf-c-button.pf-m-primary:hover, .pf-c-button.pf-m-primary:focus, .pf-c-button.pf-m-primary:active, .pf-c-button.pf-m-primary.active, .open .dropdown-toggle.pf-c-button.pf-m-primary {
  background-color: #19a692;
  background-image: none;
  color: #fff;
}

.pf-c-button.pf-m-primary:active:hover, .pf-c-button.pf-m-primary.active:hover, .open .dropdown-toggle.pf-c-button.pf-m-primary:hover, .pf-c-button.pf-m-primary:active:focus, .pf-c-button.pf-m-primary.active:focus, .open .dropdown-toggle.pf-c-button.pf-m-primary:focus, .pf-c-button.pf-m-primary:active.focus, .pf-c-button.pf-m-primary.active.focus, .open .dropdown-toggle.pf-c-button.pf-m-primary.focus {
  background-color: #19a692;
}

#kc-form-buttons {
  padding-left: 0;
  padding-right: 0;
  width: auto;
  float: none;
  flex-grow: 1;
}
/* The login isn't in a form group, so we have to expand it ourselves */
#kc-form-login #kc-form-buttons {
  margin-left: -20px;
  margin-right: -20px;
}

  @media (min-width: 841px) {
    #kc-form-buttons {
      margin-left: -20px;
      margin-right: -20px;
    }

    /* The login isn't in a form group, so we have to expand it ourselves */
    #kc-form-login #kc-form-buttons {
      margin-left: -40px;
      margin-right: -40px;
    }
  }

  .pf-m-primary.pf-m-block.btn-lg {
    padding: 30px;
    font-size: 18px;
    border: 0;
  }

.form-group:last-child {
  margin-bottom: 0;
}

#kc-info {
  margin-bottom: 10px;
  padding-bottom: 0;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
}

  #kc-info.login-pf-signup #kc-info-wrapper {
    font-size: 18px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0;
    background-color: unset;
  }

.card-pf::after {
  text-indent: -99999px;
  content: "Powered by Gaze.dev";
  display: none; /* Hide so sub-themes can display */
  border-top: 1px solid black;
  background-image: url("https://gaze.dev/assets/uploads/Gaze.Dev.png");
  background-size: 125px;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 103px;
  background-color: #333;
  font-size: 1rem;
  text-align: center;
  color: white;
}

  @media (min-width: 520px) {
    .card-pf::after {
      margin-left: -40px;
      margin-right: -40px;
    }
  }
