/*
#kc-page-title::after {
  content: "to continue to";
}

.login-pf-header::after {
  content: "HousingDB";
  text-indent: -99999px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  background-image: url('https://pittsburghhousing.org/assets/pittsburgh-housing-logo.png');
}
*/

.div.kc-logo-text {
  background-image: url('https://pittsburghhousing.org/assets/pittsburgh-housing-logo.png');
}

.card-pf::after {
  display: block;
}
