/* Page Background */
.login-pf body::before {
  content: "";
  position: absolute;
  background-color: #5B3043;
  opacity: .5;
}

body {
  font-size: 1rem;
}

.login-pf-page {
  margin-top: 4rem;
}

.login-pf-page .login-pf-header {
  margin-bottom: 1.5rem;
}

.login-pf-page .card-pf {
  padding: 1rem 2rem 0 2rem;
}

.card-pf::after {
  display: block;
}

#kc-page-title {
  font-size: 1rem;
  margin: 0;
  padding-top: 2rem;
}

h1#kc-page-title {
  margin-top: 0;
}

  /* Header */
.login-pf-header {
  background-color: #5B3043; 
  margin: -1rem -2rem;
  border-bottom: 5px solid #FAA300;
  color: #F2F2F2;
  height: 8rem;
}

  /* PGH Housing Logo */
.login-pf-header::after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 4rem;
  background-image: url('https://pittsburghhousing.org/assets/pittsburgh-housing-logo-wide.png');
}

#kc-header-wrapper{
  display: none;
}

#kc-registration {
  text-align: right;
  font-size: 1rem;
  margin-bottom: 0;
}

#kc-form-login #kc-form-buttons {
  margin-left: -20px;
  margin-right: -20px;
}

#kc-form-buttons{
  margin: 0;

  padding: 0 20px;
}

#kc-form-options{
  margin-bottom:1.5rem;
}

.form-group.login-pf-settings {
  margin-bottom: 0;
}
.checkbox {
  margin:0;
}

#kc-content-wrapper{
  display: flex;
  flex-direction: column-reverse;
}

#kc-info.login-pf-signup #kc-info-wrapper {
  margin: 0;
}

.form-group:last-of-type{
/*  without this the registration page will have issues  */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pf-c-button.pf-m-primary {
  background: #FAA300;
  color: black;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}

.pf-c-button.pf-m-primary:hover {
  background: #EC9A01; 
  color: black;
}

.card-pf::after {
  content: "Powered by";
  color: black;
  font-size: .8rem;
  margin: 0 0 0 0;
  padding-top: 1rem;
  padding-right: .5rem;
  text-align: right;
  background-color: white;
  height: 5rem;
  border-top: none;
  background-position-x: 100%;
  background-position-y: 60%;
  background-size: 6rem;
}

@media (max-width: 768px) {
  .login-pf-page {
      margin-top: 0rem;
  }

}
